<div
  class="card border-solid border border-slate-300 w-48 lg:w-56 max-h-96 rounded-lg overflow-hidden p-2 flex flex-col"
>
  {{#if thumbnails.length}}
    <div class="relative mb-2">
      <div class="embla overflow-hidden h-44 lg:h-52 rounded-lg">
        <div class="embla__container flex h-full">
          {{#each thumbnails}}
            <div
              class="embla__slide flex-grow-0 overflow-hidden flex-shrink-0 basis-full rounded-lg flex items-center justify-center"
            >
              <img src={{this}} alt="product-image" />
            </div>
          {{/each}}
        </div>
      </div>
      <i
        class="invisible forward-arrow absolute right-2 top-1/2 iconoir-nav-arrow-right text-md text-white bg-blue-500 rounded-full cursor-pointer p-1 transform -translate-y-1/2 border border-white"
      ></i>
      <i
        class="invisible back-arrow absolute left-2 top-1/2 iconoir-nav-arrow-left text-md text-white bg-blue-500 rounded-full cursor-pointer p-1 -translate-y-1/2 border border-white"
      ></i>
    </div>
  {{else}}
    <div class="overflow-hidden mb-2 h-44 lg:h-52 rounded-lg bg-slate-100 flex items-center justify-center">
      <i class="iconoir-remove-media-image text-2xl text-slate-600"></i>
    </div>
  {{/if}}
  <h2 class="font-bold">{{name}}</h2>
  <p class="text-sm line-clamp-2 text-ellipsis mb-4 text-slate-600">{{description}}</p>
  <p class="mt-auto font-bold text-blue-500">${{price}}</p>
</div>